$GamFont: 'Game of Tsrones';
$fontColr: rgb(212, 175, 55);

@font-face {
  font-family: Game of Tsrones;
  src: url(../../Game.of.thrones.font/GameofThrones.woff);
}

body{
  background-color:  rgba(17, 15, 10, 0.644) !important;
}



.logo {
  font-family: $GamFont;
  text-align: center;
  padding: 30px;

      .heding {
        font-family: $GamFont;
        text-align: center;
        color: $fontColr;
        font-size: 50px;
   

        text-decoration: underline;
      }

      .under_heding {
        color: $fontColr;
        font-size: 20px;
      }

}








#Conts {
  box-shadow: 2px 2px 60px black;
  background-color: rgba(250, 235, 215, 0.692) ;
  border-radius: 34px;
  border: 60px solid transparent;
  border-image: url(../Bilde/Ramme.svg) 50 round;
    margin: 15px;
 

        .cardElement{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
          grid-gap: 40px;
       
        
        }


          .cards {
            background-color:rgb(59, 59, 59);
            padding: 10px;
            text-align: center;
            width: 100%;
            height: 560px;
            border-radius: 10px;
            color: white;
            border: none;
         
            // box-shadow: 2px 2px 17px -1px rgba(0,0,0,0.75);
           
          
           
            
        
          }
          .cards:hover{
            box-shadow: 2px 2px 17px -1px rgba(0,0,0,0.75);
          }

          // House Algood

          .nod0{
            background-image: url(../Bilde/Banner_House_slange.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-origin: content-box;
            
          
          
            width: 100%;
            height: 50%;
         
           
          
            
         
          }
           // House Allyrion of godsgrace
          .nod1{
           background-image: url(../Bilde/Banner_House_slange.svg);
           background-repeat: no-repeat;
           background-position: center;
           background-origin: content-box;
           
         
        
           width: 100%;
           height: 50%;
        
          
         
           
        
         }
         .list{
           
          
           text-align: left;
           font-size:0.8rem;

         }
         h5{
           font-family: $GamFont;
           color: $fontColr;
           min-height: 50px;
         }
         // House AMber
         .nod2{
          background-image: url(../Bilde/Banner_Whater.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-origin: content-box;
      
        
          width: 100%;
          height: 50%;
         }
          // House Ambrose
         .nod3{
          background-image: url(../Bilde/Icons/Red_Mauer.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-origin: content-box;
      
      
          width: 100%;
          height: 50%;
         }
          // House Appleton of appleton
         .nod4{
          background-image: url(../Bilde/Banner_Whater.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-origin: content-box;
      
        
          width: 100%;
          height: 50%;
         }
          // House Arryn of gulltown
         .nod5{
          background-image: url(../Bilde/Icons/Blue_Hero.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-origin: content-box;
      
         
          width: 100%;
          height: 50%;
         }
          // House Arryn of th eyrie
         .nod6{
          background-image: url(../Bilde/Icons/Blue_Hero.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-origin: content-box;
      
        
          width: 100%;
          height: 50%;
         }
          // House Ashford of ashford
         .nod7{
          background-image: url(../Bilde/Icons/Orang_son.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-origin: content-box;
      
          
          width: 100%;
          height: 50%;
         }

          // House Ashwood
         .nod8{
          background-image: url(../Bilde/Icons/Red_Skog.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-origin: content-box;
      
        
          width: 100%;
          height: 50%;
         }
         .nod9{
          background-image: url(../Bilde/Banner_Whater.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-origin: content-box;
      
          
          width: 100%;
          height: 50%;
         }      
         .nod10{
          background-image: url(../Bilde/Banner_Whater.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-origin: content-box;
      
         
          width: 100%;
          height: 50%;
         }
         








   



}


#myVideo {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 500;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.2;
  z-index: -100;
}
#myVideo2 {
  position: fixed;
  right: 0;
  left: 0;
  top: 500;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.2; 
  z-index: -100;
  
}












