$GamFont: 'Game of Thrones';
$fontColr: rgb(212, 175, 55);
$introFont: 'Julius Sans One',
sans-serif;
$fontColr2: rgba(212, 175, 55, 0.747);


@font-face {
  font-family: Game of Tsrones;
  src: url(../../Game.of.thrones.font/GameofThrones.woff);
}

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');






body {
  background-color: rgba(17, 15, 10, 0.904) !important;
}

////////////audio controls hidden/unhidden.
audio{                  
  display: block;
}
//////////////


.logo {

  text-align: center;
  padding: 20px;
   -webkit-filter: grayscale(50%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);

  .logo_img  {
    margin: 20px;

   

    
  }
  .under_log_texst{
    text-align: center;
    color: #fff;
    font-family: $GamFont;
} 

.hr_syl{
      border: 0;
    height: 1px;
    width: 50%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(212, 175, 52, 0.75), rgba(0, 0, 0, 0));
}
}






.Container {
  background-color: rgba(80, 80, 80, 0.541);
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(4, 1fr);
  grid-gap: 2px;


  .cardElement { 
    background-color: #ffff;
    padding: 50px;
    height: 100%;
    font-family: $GamFont;
    text-align: center;
    font-size: 10px;
    color: $fontColr;

  }

  .cardElementWall {
    background-color: lightblue;
    padding: 50px;
    height: 100%;
    font-family: $GamFont;
    text-align: center;
    font-size: 10px;
    color: $fontColr;
  }

  .cardElement_Not {
    background-color: black;
    padding: 50px;
    height: 100%;
    font-family: $GamFont;
    text-align: center;
    font-size: 10px;
    color: $fontColr;




    .cardElement_Not_IMg {
      background-repeat: repeat;
      float: right;
    }
  }

  h1 {
    padding-top: 45px;
  }

}



.cardElement_Not_blue {
  border-right: 5px solid blue;
  background-color: black;
  height: 100%;
  font-family: $GamFont;
  font-size: 10px;
  color: $fontColr;
}

.cardElement_Not_blue_bottom {
  border-bottom: 5px solid blue;
  background-color: rgba(95, 123, 160, 0.932);
  height: 100%;
  font-family: $GamFont;
  font-size: 10px;
  color: $fontColr;
}









/////////////////D1

.disk {
  align-content: center;
  justify-content: center;
  text-align: center;
  float: center;
  margin: 50px;
  position: fixed;
  top: 2%;
  right: 2%;

  .Disk_Img_1 {
    background-color: #375DAA;
    border-radius: 10px;
    padding: 14px;
    margin: 15px;

    .Disk_Img_text {
      background-color: aqua;
      color: #ffff;
      padding: 50px;
    }
  }




  .dice {
    float: center;
    width: 55px;
    margin: auto;
    background: #375DAA;
    border-radius: 10px;
    font-size: 24px;

    .text {
      background-color: aqua;
      color: #ffff;
      padding: 50px;
    }

  }

  .button_Disk {
    border: none;
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
  }

  .Disk_Img_text {
    background-color: aqua;
    color: #ffff;
    padding: 50px;
  }


}

  .text {
    float: center;
    background-color: #375DAA;
    padding: 5px;
    margin: 10px auto;
    width: 80px;
    border-radius: 15px;
    color: #ffff;

}


///////////////////////////D2
.disk_venster {
  align-content: center;
  justify-content: center;
  text-align: center;
  float: center;
  margin: 50px;

  position: fixed;
  top: 3%;
  left: 2%;



  .dice_venstere {

    float: center;
    width: 55px;
    margin: auto;

    background: #57883D;
    border-radius: 10px;
    font-size: 24px;



  }

  .button_Disk_venstere {
    border: none;
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
  }


  .Disk_Img_2 {
    border-radius: 10px;
    padding: 14px;
    margin: 15px;
    background-color: #57883D;

  }

  .text_v {
    float: center;
    background-color: #57883D;
    padding: 5px;
    margin: 10px auto;
    width: 80px;
    ;
    border-radius: 15px;
    color: #ffff;

  }


}

//intro teskt
.intro_texst{
  text-align: center;
  margin: 50px auto;
  width: 50%;

  background-color: #fff;
  .heding{
    font-family: $introFont;
    text-decoration: underline $fontColr;
    font-size: 5rem;
  }
  .main_texst{
    padding: 20px;
  }
}





////video styling. 
#myVideo {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 500;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.4;
  z-index: -100;
}

#myVideo2 {
  position: fixed;
  right: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5;
  z-index: -100;

}