$GamFont: 'Game of Thrones';
$fontColr: rgb(212, 175, 55);

body{
    background-color:  rgba(17, 15, 10, 0.644) !important;
}






.logo {
  font-family: $GamFont;
  text-align: center;
  padding: 30px;

      .heding {
        font-family: $GamFont;
        text-align: center;
        color: $fontColr;
        font-size: 50px;
   

        text-decoration: underline;
      }

      .under_heding {
        color: $fontColr;
        font-size: 20px;
      }

}





.Container{ 

  background-color: rgba(153, 153, 153, 0.61);
  max-width: 1000px;
  margin: auto;
  padding: 50px;
  border-radius: 50px;
  border: 50px solid transparent;
  border-image: url(../Bilde/Ramme.svg) 30 round;

  .row{
    margin: auto;
  }
.cardElement{

  background-color:#ffff;
  padding: 50px;
  height: 100%;
  margin: 10px;

}

}





















  .dice{
    float: right;
    width:32px;
    background:#F5F5F5;
    border:#999 1px solid;
    padding:10px;
    font-size:24px;
    text-align:center;
    margin:1px;
}



#myVideo {
   position: fixed;
    right: 0;
    left: 0;
    bottom: 500;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.2;
    z-index: -100;
  }
  #myVideo2 {
    position: fixed;
    right: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.2;
    z-index: -100;
  
  }