$GamFont: 'Game of Thrones';
$fontColr: rgb(212, 175, 55);
$introFont: 'Julius Sans One',
sans-serif;
$fontColr2: rgba(212, 175, 55, 0.747);

body {
  background-color: rgba(17, 15, 10, 0.904) !important;
}






.Master_heding {
  font-family: $GamFont;
  text-align: center;
  padding: 30px;

  .heding {
    font-family: $GamFont;
    text-align: center;
    color: $fontColr;
    font-size: 50px;


    text-decoration: underline;
  }

  .under_heding {
    color: $fontColr;
    font-size: 20px;
  }

}





.Container {

  background-color: rgba(80, 80, 80, 0.541);
  max-width: 1000px;
  margin: auto;


  //border: 50px solid transparent;
  //border-image: url(../Bilde/Ramme.svg) 30 round;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(4, 1fr);
  grid-gap: 2px;


  .cardElement {

    background-color: #ffff;
    padding: 50px;
    height: 100%;
    font-family: $GamFont;
    text-align: center;
    font-size: 10px;
    color: $fontColr;

  }

  .cardElementWall {
    background-color: lightblue;
    padding: 50px;
    height: 100%;
    font-family: $GamFont;
    text-align: center;
    font-size: 10px;
    color: $fontColr;
  }

  .cardElement_Not {
    background-color: black;
    padding: 50px;
    height: 100%;
    font-family: $GamFont;
    text-align: center;
    font-size: 10px;
    color: $fontColr;

  }

  h1 {
    padding-top: 45px;
  }

}













.disk {
  align-content: center;
  justify-content: center;
  text-align: center;
  float: center;
  margin: 50px;
  position:fixed; top:2%; right:2%;

 .Disk_Img_1 {
   background-color: #375DAA;
   padding: 5px;
   margin: 5px;
    .Disk_Img_text{
      background-color: aqua;
    }
  }
 .Disk_Img_2{
  background-color: #57883D;
  padding: 5px;
  margin: 5px;
 }



  .dice {

    float: center;
    width: 55px;
    margin: auto;
    background: $fontColr;
    border-radius: 10px;
    font-size: 24px;



  }

  .button_Disk {
    border: none;
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
  }



}


#myVideo {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 500;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.4;
  z-index: -100;
}

#myVideo2 {
  position: fixed;
  right: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5;
  z-index: -100;

}