@font-face {
  font-family: Game of Tsrones;
  src: url(../../Game.of.thrones.font/GameofThrones.woff);
}
body {
  background-color: rgba(17, 15, 10, 0.644) !important;
}

.logo {
  font-family: "Game of Tsrones";
  text-align: center;
  padding: 30px;
}
.logo .heding {
  font-family: "Game of Tsrones";
  text-align: center;
  color: #d4af37;
  font-size: 50px;
  text-decoration: underline;
}
.logo .under_heding {
  color: #d4af37;
  font-size: 20px;
}

#Conts {
  box-shadow: 2px 2px 60px black;
  background-color: rgba(250, 235, 215, 0.692);
  border-radius: 34px;
  border: 60px solid transparent;
  border-image: url(../Bilde/Ramme.svg) 50 round;
  margin: 15px;
}
#Conts .cardElement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
}
#Conts .cards {
  background-color: #3b3b3b;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 560px;
  border-radius: 10px;
  color: white;
  border: none;
}
#Conts .cards:hover {
  box-shadow: 2px 2px 17px -1px rgba(0, 0, 0, 0.75);
}
#Conts .nod0 {
  background-image: url(../Bilde/Banner_House_slange.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  width: 100%;
  height: 50%;
}
#Conts .nod1 {
  background-image: url(../Bilde/Banner_House_slange.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  width: 100%;
  height: 50%;
}
#Conts .list {
  text-align: left;
  font-size: 0.8rem;
}
#Conts h5 {
  font-family: "Game of Tsrones";
  color: #d4af37;
  min-height: 50px;
}
#Conts .nod2 {
  background-image: url(../Bilde/Banner_Whater.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  width: 100%;
  height: 50%;
}
#Conts .nod3 {
  background-image: url(../Bilde/Icons/Red_Mauer.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  width: 100%;
  height: 50%;
}
#Conts .nod4 {
  background-image: url(../Bilde/Banner_Whater.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  width: 100%;
  height: 50%;
}
#Conts .nod5 {
  background-image: url(../Bilde/Icons/Blue_Hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  width: 100%;
  height: 50%;
}
#Conts .nod6 {
  background-image: url(../Bilde/Icons/Blue_Hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  width: 100%;
  height: 50%;
}
#Conts .nod7 {
  background-image: url(../Bilde/Icons/Orang_son.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  width: 100%;
  height: 50%;
}
#Conts .nod8 {
  background-image: url(../Bilde/Icons/Red_Skog.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  width: 100%;
  height: 50%;
}
#Conts .nod9 {
  background-image: url(../Bilde/Banner_Whater.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  width: 100%;
  height: 50%;
}
#Conts .nod10 {
  background-image: url(../Bilde/Banner_Whater.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  width: 100%;
  height: 50%;
}

#myVideo {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 500;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.2;
  z-index: -100;
}

#myVideo2 {
  position: fixed;
  right: 0;
  left: 0;
  top: 500;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.2;
  z-index: -100;
}

/*# sourceMappingURL=output.css.map */
