$GamFont: 'Game of Thrones';
$fontColr: rgb(212, 175, 55);
$introFont: 'Julius Sans One',
sans-serif;
$gambord: 'Gamnord';
$fontColr2: rgba(212, 175, 55, 0.747);


@font-face {
  font-family: Game of Tsrones;
  src: url(../../Game.of.thrones.font/GameofThrones.woff);
}
@font-face{
  font-family: Gamnord;
  src: url(../../Game.of.thrones.font/higher_marisa_passos/Higher.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');






body {
  background-color: rgba(17, 15, 10, 0.904) !important;
}

////////////audio controls hidden/unhidden.
audio{                  
  display: block;
}
/////////////


.logo {
  text-align: center;
  padding: 20px;
  
   -webkit-filter: grayscale(50%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);

  .logo_img  {
    margin: 20px;
    width: 40%;
    z-index: -20px;
  }
  .under_log_texst{
    text-align: center;
    color: $fontColr;
    font-size: 60px;
    font-family: $gambord;
} 


}

.hr_syl{
    border: 0;
    height: 1px;
    width: 50%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(212, 175, 52, 0.75), rgba(0, 0, 0, 0));
}




.Container {
  background-color: rgba(80, 80, 80, 0.541);
  border-radius: 25px;
  padding: 25px;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template: repeat(8, 1fr)  /repeat(4, 1fr);
  grid-gap: 2px;

  


  .cardElement { 
    background-color: #fff;
    padding: 50px;
    font-family: $gambord;
    text-align: center;
    font-size: 20px;
    color: $fontColr;
  }

 

  .cardElement_TRap {
    background-color: rgb(80, 80, 80);
    padding: 50px;
    margin: 35px;
    border-radius: 20px 0px 20px 0px;
    border: $fontColr 2px solid; 
    -webkit-filter: grayscale(50%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);



   
  }

  .Fram_Trap{
    text-align: center;
    font-size: 30px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.783);
 
    border-radius: 20px;
    
    #Countdown_Blue{
      color: #375DAA;
      padding: 10px;
      font-family: $introFont;
      font-size: 30px;
    }
    #countdown_Green{
      color: #57883D;
      padding: 20px;
      font-family: $introFont;
      font-size: 30px;
    }
  }



  

}














/////////////////D1

.disk {
  align-content: center;
  justify-content: center;
  text-align: center;
  float: center;
  margin: 50px;
  padding: 25px;
  position: fixed;
  top: 2%;
  right: 2%;
  -webkit-filter: grayscale(50%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    background-color: rgba(80, 80, 80, 0.767);
  border-radius: 25px;



  .Disk_Img_1 {
    background-color: #375DAA;
    border-radius: 10px;
    padding: 14px;
    margin: 15px;

  }




  .dice {
    float: center;
    width: 100%;
    color: #fff;
    margin: auto;
    background: #375DAA;
    border-radius: 10px;
    font-size: 54px;
    
  

  }

  .button_Disk {
    border: none;
    width: 100%;
    border-radius: 25px;
    margin: 5px auto;
    padding: 5px;
    background-color: lightgrey;
  }

}

  .text {
    float: center;
    background-color: #375DAA;
    width: 100%;
    border-radius: 25px;
    margin: 5px auto;
    padding: 5px;
    border-radius: 15px;
    color: #ffff;

}


///////////////////////////D2
.disk_venster {
  align-content: center;
  justify-content: center;
  text-align: center;
  float: center;
  margin: 50px;
  padding: 25px;
  position: fixed;
  top: 3%;
  left: 2%;

  -webkit-filter: grayscale(50%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(50%);
  background-color: rgba(80, 80, 80, 0.767);
  
  border-radius: 25px;
  .dice_venstere {
    float: center;
    width: 100%;
    margin: auto;
    color: #fff;
    background: #57883D;
    border-radius: 10px;
    font-size: 54px;
    



  }

  .button_Disk_venstere {
    border: none;
    width: 100%;
    border-radius: 25px;
    margin: 5px auto;
    padding: 5px;
    background-color: lightgrey;
  }


  .Disk_Img_2 {
    border-radius: 10px;
    padding: 14px;
    margin: 15px;
    background-color: #57883D;

  }

  .text_v {
    float: center;
    background-color: #57883D;
    width: 100%;
    border-radius: 25px;
    margin: 5px auto;
    padding: 5px;
    border-radius: 15px;
    color: #ffff;

  }


}

//intro teskt
.intro_texst{
  text-align: center;
  max-width: 1000px;
  margin: 5px auto;
  width: 1000px;
  border-radius: 0px 0px 20px 20px;
  background-color: #fff;
  .heding{
    font-family: $gambord;
    color: $fontColr2;
    font-size: 6rem;
  }
  .main_texst{
    padding: 20px;
  }
}


.modal{
  display: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 7; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 20px;
    .player_txst{
      text-align: center;
      height: 500px;
      font-size: 200px;
    }
  
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;

  text-decoration: none;
  cursor: pointer;
}



////video styling. 
#myVideo {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 500;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.4;
  z-index: -100;
 
}

#myVideo2 {
  position: fixed;
  right: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.4;
  z-index: -100;

}