$GamFont: 'Game of Tsrones';
$introFont: 'Julius Sans One',sans-serif;
$gambord: 'Gamnord';
$fontColr: rgb(212, 175, 55);
$fontColr2: rgba(212, 175, 55, 0.747);


@font-face {
  font-family: Game of Tsrones;
  src: url(../../Game.of.thrones.font/GameofThrones.woff);
}

@font-face{
    font-family: Gamnord;
    src: url(../../Game.of.thrones.font/higher_marisa_passos/Higher.ttf);
  }

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');


body {
    background-color: rgba(17, 15, 10, 0.904) !important;
}

.logo {
  text-align: center;
 max-width: 900px;
 margin: auto;;
    -webkit-filter: grayscale(50%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    
  
    .logo_img  {
        min-height: 200px;
        width: 30%;
        margin: 20px;
  
    }
  
    .under_log_texst{
        text-align: center;
        color: $fontColr;
     
        font-size: 40px;
        font-family: $gambord;

          
    } 
    .hr_syl{
        border: 0;
      height: 1px;
      width: 50%;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(212, 175, 52, 0.75), rgba(0, 0, 0, 0));
      -webkit-animation-name: hr; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
      
    }
  }
  @-webkit-keyframes hr{                           //anmiasjon for the whit column 
    0% { white: 0%; }
    100%{ width: 100%;}


}

  

.Rap_mov{                                                       //the hidden img.
    width: 250px;
    border-radius: 10px 10px 0px 0px;
     background-color:transparent;
     margin: 30px auto;
     position: absolute; 
    bottom: 0;
    height: 190%;
 
 
     z-index: -100;
   
    -webkit-animation-name: upCale; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
  
    .items {                                                    //item is the img for localShorets. the winner              
        text-align: center;  
        
    }


}
.moving{                                                        ///the main column whit nr 1
    width: 250px;
   border-radius: 10px 10px 0px 0px;
    background-color: $fontColr;
  
    margin: 0px auto;
    position: absolute; 
    bottom: 0;
    
    left: 34%;
    right: 34%;
    font-family: $gambord ;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
    
    .moving_Symbol{
        text-align: center;
        padding-top: 40px; 
        font-size: 100px;
    }

}

.item_tesxt{
    font-size: 20px;

}






.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid $fontColr; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    max-width: 820px;
text-align: center;
    
    animation: 
      typing 3.5s steps(50, end),
      blink-caret .75s step-end infinite;
      color: #fff;
      font-display: $introFont;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: $fontColr; }
  }











@-webkit-keyframes example  {                           //anmiasjon for the whit column 
    0% { height: 90px; }
  
    100%{ height: 200px;}
}

@keyframes example {                                      //anmiasjon for the whit column 
    0% { height: 90px; }
   
    100%{ height: 200px;}
  
}






                                                        //animasjon for the hidden column
@-webkit-keyframes upCale{
    0% { height: 60px; }
   
    100%{ height: 390px;}
}
                                                        //animasjon for the hidden column
@keyframes upCale {
    0% { height: 60px; }
  
    100%{ height: 390px;}
  
}

.posijon{
    color: $fontColr2;
    font-size: 100px;
    bottom: 0;

    position: absolute; 
    bottom: 0;
    .item{
        color: $fontColr2;
        font-size: 50px;
        bottom: 0;
        padding-left: 10px;
    }
}



                                                    //making it stay central after screen under 600 px
@media only screen and (max-width: 600px) {
 
   
    .moving{
        left: 14%;
        right: 14%;
        bottom: 0;
    }
    .posijon{
        top: 0;
    }
}



