$GamFont: 'Game of Tsrones';
$introFont: 'Julius Sans One',sans-serif;
$fontColr: rgb(212, 175, 55);
$fontColr2: rgba(212, 175, 55, 0.747);


@font-face {
  font-family: Game of Tsrones;
  src: url(../../Game.of.thrones.font/GameofThrones.woff);
}

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');


body {
    background-color: rgba(17, 15, 10, 0.904) !important;
}

.logo {
  text-align: center;

    -webkit-filter: grayscale(50%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    
  
    .logo_img  {

        width: 300px;
  
    }
  
    .under_log_texst{
        text-align: center;
        color: $fontColr;
     
        font-size: 10px;
        font-family: $GamFont;

          
    } 
    .hr_syl{
        border: 0;
      height: 1px;
      width: 50%;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(212, 175, 52, 0.75), rgba(0, 0, 0, 0));
      }
  }


  

.Rap_mov{                                                       //the hidden img.
    width: 250px;
    border-radius: 10px 10px 0px 0px;
     background-color:transparent;
     margin: 30px auto;
     position: absolute; 
    bottom: 0;
    height: 190%;
 
 
     z-index: -100;
   
    -webkit-animation-name: upCale; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
  
    .items {                                                    //item is the img for localShorets. the winner              
        text-align: center;   
    }

}
.moving{                                                        ///the main column whit nr 1
    width: 250px;
   border-radius: 10px 10px 0px 0px;
    background-color: $fontColr;
  
    margin: 0px auto;
    position: absolute; 
    bottom: 0;
    
    left: 34%;
    right: 34%;

    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
    
    .moving_Symbol{
        text-align: center;
        padding-top: 40px; 
        font-size: 100px;
    }

}
















@-webkit-keyframes example  {                           //anmiasjon for the whit column 
    0% { height: 90px; }
  
    100%{ height: 200px;}
}

@keyframes example {                                      //anmiasjon for the whit column 
    0% { height: 90px; }
   
    100%{ height: 200px;}
  
}






                                                        //animasjon for the hidden column
@-webkit-keyframes upCale{
    0% { height: 60px; }
   
    100%{ height: 390px;}
}
                                                        //animasjon for the hidden column
@keyframes upCale {
    0% { height: 60px; }
  
    100%{ height: 390px;}
  
}

.posijon{
    color: $fontColr2;
    font-size: 100px;
    bottom: 0;

    position: absolute; 
    bottom: 0;
    .item{
        color: $fontColr2;
        font-size: 50px;
        bottom: 0;
        padding-left: 10px;
    }
}



                                                    //making it stay central after screen under 600 px
@media only screen and (max-width: 600px) {
    .moving{
        left: 14%;
        right: 14%;
        bottom: 0;
    }
    .posijon{
        top: 0;
    }
}



